
.login-form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.wraper-div{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form > input {
    margin: 10px;
    width: 85%;
    height: 2rem;
    border-radius: 5px;
    outline: none;
    padding: 4px 20px;
}

.login1{
    width: 20rem;
    height: 26rem;
    display: flex;
    justify-content: center;

}
.login-form > button {
    margin: 10px;
    width: 80%;
    height: 2rem;
    border-radius: 5px;
    background-color:#251652;
    color: white;
    cursor: pointer;
    padding: 5px 20px;
    box-shadow: 0px 0px 2px 0px white;
}

.account-check{
    text-align: end;
    color: black;
    cursor: pointer;
    margin-right: 10px;
    width: 200px;
    position: relative;
    right: 3.5rem;
    letter-spacing: 2px;
}

.warning {
    font-size: 0.8rem;
    color: rgb(255, 50, 50);
  
}

@media only screen and (max-width:768px) {
    .login-form > input {
        margin: 10px;
    }

    .login-form > button {
        margin: 10px;
    }
}

@media only screen and (max-width:280px) {
    .login-form > input {
        margin: 5px;
        height: 1.5rem;
    }

    .login-form > button {
        margin: 10px;
        width: 10rem;
    }
}
